@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Contact Application</h1>
    <p class="lead">This is a simple Web App for CRUD Operations for a Contact List</p>
    <p><a href="@Url.Action("CreateContact", "Contact")" class="btn btn-primary btn-lg">New Contact &raquo;</a></p>
</div>

